<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/styles.css">
    <title>Bem-vindo</title>
</head>
<body>
    <div class="container">
        <h1 class="welcome-message">Bem-vindo Thiago Henrique Silva ao Sistema de Cadastro de Cliente</h1>
        <div class="button-group">
            <button class="button-white" onclick="window.location.href='Clientes.html' ">Ver lista de clientes</button>
            <button class="button-white" onclick="window.location.href='Cadastro.html' ">cadastrar clientes</button>
        </div>
    </div>
</body>
</html>
